server:
  port: 8085

spring:
  datasource:
#    url: jdbc:mysql://localhost:3311/prescription-service-db
    url: jdbc:mysql://mysql-prescription:3306/prescription-service-db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: prescription-service
  prometheus:
    metrics:
      export:
        enabled: true