server:
  port: 8087

spring:
  datasource:
#    url: jdbc:mysql://localhost:3313/notification-service-db
    url: jdbc:mysql://mysql-notification:3306/notification-service-db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

    kafka:
      bootstrap-servers: localhost:9096
      consumer:
        group-id: notification-service
        auto-offset-reset: earliest
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
        properties:
          spring.json.trusted.packages: '*'
      producer:
        key-serializer: org.apache.kafka.common.serialization.StringSerializer
        value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

    mail:
      host: smtp.gmail.com
      port: 587
      username: ishaan6shaan@gmail.com
      password: gggd qobv umpv tunl
#      password: qfpt uzlu yvom mioq
      protocol: smtp
      tls: true
      properties:
        mail.smtp.auth: true
        mail.smtp.starttls.enable: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: notification-service
  prometheus:
    metrics:
      export:
        enabled: true